.modal {
  position: fixed;
  inset: 0px;
  z-index: var(--modal-z-index);
}

.modal-backdrop {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--modal-backdrop-background-color);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-content-background-color);
  min-width: 320px;
}
