.app {
  padding: 24px;
}

.app-heading {
  font-size: 32px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}

.app-description {
  margin-bottom: 32px;
}

.app-section {
  margin-bottom: 32px;
}

.app-section-heading {
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}

.app-basic-modal {
  padding: 16px;
}

.app-form-modal {
  display: grid;
  row-gap: 8px;
}

.app-custom-modal {
  z-index: 500;
}
.app-custom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
.app-custom-modal-content {
  border-radius: 8px;
}
.app-custom-modal-header {
  padding: 16px 32px;
}
.app-custom-modal-header-title {
  font-size: 24px;
}
.app-custom-modal-body {
  padding: 32px;
  padding-top: 8px;
  font-size: 18px;
}
.app-custom-modal-footer {
  background-color: rgba(0, 0, 0, 0.1);
}
