:root {
  font-family: Arial, Helvetica, sans-serif;

  --modal-z-index: 1000;
  --modal-padding: 16px;
  --modal-backdrop-background-color: rgba(0, 0, 0, 0.5);
  --modal-content-background-color: #ffffff;
  --modal-header-title-font-size: 24px;
}

body {
  margin: 0;
}
